/* CSS Index
-----------------------------------
1. R O O T
2. G L O B A L  R U L E S
3. P U B L I C   S T Y L E
4. H E A D E R
5. M A I N
6. F O O T E R
*/

/* [ 1 ]------- R O O T -------*/

:root {
  --white-color-text: #feffff;
  --grey-color-text: #999999;
  --footer-color-text: #616161;
  --sky-color-text: #0099cc;
  --background-parent: #1d1d1d;
  --background-header: #090909;
  --background-main: #131313;
  --background-circle: #433333;
  --background-alert: #336633;
  --border-icon: #2e2e2e;
}

main .container .landing {
  background-image: url(../images/blog-post.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  margin-bottom: 20px;
}

main .container .landing h1 {
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-size: 62px;
  text-transform: uppercase;
}

main .container .parent section>article h2 {
  font-size: 46px;
  font-weight: normal;
  text-transform: uppercase;
  padding-right: 40px;
}

main .container .parent section>article .titles {
  display: flex;
  flex-flow: wrap row;
  margin-top: 30px;
  margin-bottom: 20px;
  row-gap: 20px;
}

main .container .parent section>article .titles .title-item {
  margin-right: 30px;
}

main .container .parent section>article .titles .title-item i {
  margin-right: 10px;
}

main .container .parent section>article .titles .title-item h5 {
  color: var(--grey-color-text);
  font-size: 18px;
}

main .container .parent section>article p {
  color: var(--grey-color-text);
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.6;
  border: none;
  padding: 0;
}

main .container .parent section .comments {
  padding-right: 60px;
}

main .container .parent section .comments h3 {
  font: caption;
  text-transform: uppercase;
  color: var(--white-color-text);
  font-size: 39px;
  margin-bottom: 20px;
}

main .container .parent section .comments article {
  padding: 0;
  margin-bottom: 40px;
}

main .container .parent section .comments article pre {
  background-color: var(--border-icon);
  color: var(--white-color-text);
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 30px 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: sans-serif;
  position: relative;
}

main .container .parent section .comments article pre::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -10px;
  left: 40px;
  height: 0;
  border: 11px solid;
  border-color: transparent transparent var(--border-icon) transparent;
  transform: skewY(-45deg) rotate(90deg);
  -webkit-transform: skewY(-45deg) rotate(90deg);
  -moz-transform: skewY(-45deg) rotate(90deg);
  -ms-transform: skewY(-45deg) rotate(90deg);
  -o-transform: skewY(-45deg) rotate(90deg);
}

main .container .parent section .comments article span {
  padding-left: 40px;
  padding-right: 40px;
}

main .container .parent section .comments article a {
  text-decoration: none;
}

main .container .parent section .comments article a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  main .container .parent section>article h2 {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
  }

  main .container .parent section {
    padding: 10px;
  }

  .title-item {
    padding-left: 0;
  }

  main .container .parent section .comments h3 {
    font-size: 24px;
  }

  main .container .parent section .comments article pre {
    padding: 16px 20px;
  }

  main .container .parent section .comments {
    padding-right: 0;
  }
}